@page
@model OdeToFood.ClientRestaurantsModel
@{
    ViewData["Title"] = "ClientRestaurants";
}

<h1>ClientRestaurants</h1>

<table class="table table-striped" id="restaurants">
</table>

@section Scripts {

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"></script>

    <script>
        $(function () {
            $.ajax("/api/restaurants/", { method: "get" })
                .then(function (res) {
                    $("#restaurants").dataTable({
                        data: res,
                        columns: [
                            { "data": "name" },
                            { "data": "location" },
                            { "data": "cuisine" },
                        ]
                    })
                });
        });
    </script>
}

