@page
@model OdeToFood.ListModel
@{
    ViewData["Title"] = "List";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Restaurants</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control"
                   asp-for="SearchTerm" />
            <span class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<div class="card-deck">
    @foreach (var r in Model.Restaurants) {
        <partial name="_Summary" model="r" />
    }
</div>



<a asp-page=".\Edit" class="btn btn-primary">Add New</a>

@section footer {
    <div>@Model.Message</div>
}

